.App {
  font-family: Arial, Helvetica, sans-serif;
  height: 100%;
}
header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: baseline;
  padding: 1rem;
  background-color: lightcyan;
}

nav {
  display: flex;
  flex-direction: row;
  padding: 1rem;
}


.index-container {
  padding: 1rem;
  margin: 1rem;
}

a {
  color: darkblue;
}

a :hover {
  color: gray;
}

li {
  padding: .05rem;
  margin: .05rem
}

.entrypage-container {
  display: flex;
  flex-direction: row;
}

.entry-box {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 60%
}

.entry {
  width: 60%
}

.update-buttons {
  padding: 1rem;
  margin-right: 12rem;
  border-right: groove;
  border-color: lightgray;
  width: 30%
}

.update-buttons-box {
  margin: 1rem;
  align-items: baseline;
}
.edit-box {
  width: 40%
}